.achievements {
    background: var(--grey-bg, #F5F5FA);
    &__card {
        display: flex;
        flex-direction: column;
        padding: 30px 60px;
    }

    &__title {
        color: var(--main-regular, #323264);
        text-align: center;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__img {
        list-style: none;
        padding: 30px 0;

        &_item {
            &.legal {
                margin-bottom: 30px;
                background-image: url(../img/about/legal.png);
                background-repeat: no-repeat;
                background-position: center;
                min-width: 255px;
                min-height: 90px;
                background-color: white;
                border-radius: 12px;
            }
        }

        &__img_prem {
            display: none;
        }

        &__img_lid {
            display: none;
        }

        &__img_ulf {
            display: none;
        }
    }
}


@media (min-width: 768px) {
    .achievements {
        &__img {
            display: flex;
            justify-content: space-between;

            &_item {
                background-repeat: no-repeat;
                background-position: center;
                min-width: 132px;
                min-height: 90px;
                background-color: white;
                border-radius: 12px;

                &.legal {
                    min-width: 132px;
                    margin-bottom: 0;
                    background-image: url(../img/about/legal.png);
                }

                &.prem {
                    background-image: url(../img/about/prem.png);
                }

                &.lid {
                    background-image: url(../img/about/lid.png);
                }

                &.ulf {
                    background-image: url(../img/about/ulf.png);
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .achievements__img_item {
        min-width: 300px;

        &.legal {
            min-width: 300px;
        }
    }
}






