$hover-header: #24A3FF;
$white: #fff;
$arrow-active: #F0145A;

.blue_arrow {
    display: flex;
    align-self: flex-start;
}

.blue_arrow a {
    color: $hover-header;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    transform: translateY(1px);
    transition-duration: 300ms;

    &__right::after {
        content: '';
        background-image: url("../img/arrow-right.svg");
        width: 12px;
        height: 13px;
    }
}

.blue_arrow:hover a {
    color: $arrow-active;
    transition-duration: 800ms;
    transform: scale(1.1);
}

.blue_arrow:hover path {
    stroke: $arrow-active;
    transition-duration: 800ms;
}

.blue_arrow__dark:hover a {
    color: $arrow-active;
}

.blue_arrow__dark:hover path {
    stroke: $arrow-active;
}
