* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    min-width: 375px;
    padding: 0 30px;
    margin: 0 auto;
}

.body {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
